<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Raleway:wght@100&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View All Bookmarks</title>
  </head>
  <body>
    <h1>List of Bookmarks</h1>
    <ul>
      <% @bookmarks.each do |bookmark| %>
        <li class="bookmark" id="bookmark-<%= bookmark.id %>">
          <a href="<%= bookmark.url %>"><%= bookmark.title %></a>
          <form action="/bookmarks/<%= bookmark.id %>" method="post">
            <input type="hidden" name="_method" value="Delete">
            <input type="submit" value="Delete" class="delete"/>
          </form>
          <form action="/bookmarks/<%= bookmark.id %>/edit" method="get">
            <input type="submit" value="Edit" class="edit"/>
          </form>
        </li>
      <% end %>
    </ul>
    <p>
      <%= flash[:notice] %>
    </p>
  </body>
</html>
